```zsh
> neofetch
```

<img align="left" src="https://i.imgur.com/41o5Yaq.png" alt="Profile picture" width="320" /> 

```csharp
buttermiilk_kitty@github
-------------------------
OS: Android "Q" 10
Shell: Termux 0.118.0 (118)
Pronouns: They/Them
Location: Asia, Earth
Frameworks: Express.js
Languages: Node.js, CPP, Bash
Learning: JavaScript, Python, Rust
Hobbies: Leaning, Cooking, Gaming
Commits: {{ totalCommitsInPastYear }}
Stars: {{ totalStars }}
Discord: Akira#8853
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15.png/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>
