```zsh
> neofetch
```

<img align="left" src="https://a.ppy.sh/16039831" alt="Profile picture" width="320" /> 

```csharp
buttermiilk@github
-------------------------
OS: Windows 11, Ubuntu WSL
Shell: Powershell
Languages: Node.js, CPP, Bash
Commits: {{ totalCommitsInPastYear }}
Issues Opened: {{ totalIssues }}
Contributed to: {{ contributedTo }} repositories
Stars: {{ totalStars }}
```
<p align="center">
  <img alt="scheme" src="https://i.imgur.com/T09wbom.jpg" height="20" />
</p>
